$font-paragraph: 1rem;
$padding-top-page: 7rem;
$color-empresa: #253759;
$background-white: #b8b8b8ad;
$background-black:  #3636369a;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100vh;
}
body {
    background-color: #dddddd;
    font-family: 'Poppins', sans-serif;
}
p {
    margin-top: 0;
    margin-bottom: 0; 
}
.p {
    font-size: $font-paragraph;
    line-height: 2rem;
}
h3 {
    text-align: center;
    padding-bottom: 2rem;
}
h4 {
    text-align: center;
}
.body-img {
    background-image: url(../images/Electro/modern-kitchen-1772638_1920.jpg) ;
    background-attachment: fixed;
    color: rgb(231, 231, 231);
}
.background-negro {
    background-color: $background-black;
    width: 100%;
    color: rgb(255, 255, 255);
}
.background-blanco {
    background-color: $background-white;
    width: 100%;
    color: rgb(0, 0, 0);
}
/*--------------------NAV-------------------*/
.navbar {
    box-shadow: 5px 0 10px black;  
    padding: 0.8rem 1.5rem;
    
}
.blue {
    background-color: $color-empresa!important;
}
.navbar-light  {
    .navbar-nav {
        .nav-link {
            color:rgb(255, 255, 255);
            &:hover {
                color:#747f9b;
                font-size: 0.97rem;
            }
            padding-bottom: 0%;
        }
        .active {
            .nav-link {
                color:rgb(255, 255, 255);
                border-bottom: 3px solid rgb(255, 255, 255);
                padding-left: 0%;
                padding-right: 0%;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                &:hover {
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}
.menu-icon {
    width: 1.5rem;
    color: rgb(255, 255, 255);
}
.navbar-light {
    .navbar-toggler {
        border-color: $color-empresa;
    }
}
.logo {
    align-items: center;
    height: 2.5rem;
}
/*-------------------INDEX-------------------*/
.top-section {
    color: rgb(255, 255, 255); 
    padding-bottom: 12rem;  
    width: 100%;
    padding-top: $padding-top-page + 4;
}
.title {
    font-size: 2.8rem;
    text-align: center;
    font-weight: bold;
}
#call {
    text-align: center; 
    align-items: center;
    align-content: center;
}
#p-number {
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: rgb(234, 234, 234);
}
#box-number {
    background-color: #000000;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.9rem;
    border-radius: 1rem;
}
#box-number:hover {
    background-color: #313138;
}
#number {
    color: rgb(234, 234, 234);
    text-align: center ;
    font-size: 1.8rem;
    margin-bottom: 0%;
}
.btn-phone {
    color: rgb(234, 234, 234);
    font-size: 1.5rem;
    padding-right: 0.6rem;
}
.link-number:hover {
    text-decoration: none ;
}
.btn-location {
    color: rgb(213, 213, 213);
    font-size: 1.5rem;
    padding-right: 0rem;
}
.location {
    padding-top: 4rem;
}
#title-location {
    text-align: center;
    color: rgb(213, 213, 213);
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
.div-intro {
    background-color:#ddddddd1;
    height: fit-content;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: #000000;
}
#img-electro {
    width: 100%;
}
.intro {
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    padding-top: 1rem;
}
            /*-----Boxes marcas----*/
.marcas {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.box-marcas {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}
#title-marcas {
    text-align: center;
    color: #e6e6e6;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}
.logo-marca {
    width: 100%;
    align-items: center;
}
           /*-----Boxes electrodomesticos----*/
#final-index {
    width: 100%;
    padding-top: 6rem;
}
#title-up-boxes {
    text-align: center;
    color: #e6e6e6;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}
.box-unit-i {
    text-align: center;
    background-color:rgba(198, 198, 198, 0.759);
    color: black;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;

    &:hover {
        background-color: #262a32;
        color: #e8e8e8;
    }
}
.box-title-index {
    padding-bottom: 0.6rem;
    font-size: 1.5;
}
.electro {
    margin-top: 0.7rem;
    height: 6rem;
}
#aire-acondicionado {
    width: 8rem;
}
#cocina-indus {
    width: 7rem;
}
#lavav {
    margin-top: 1rem;
    height: 5rem;
}
#horno {
    margin-top: 0.7rem;
    height: 5.5rem;
}
#frigo {
    height: 6.5rem;
}
#nevera {
    height: 6.5rem;
}
.final-index-mb {
   display: none;
}
.row {
    width:100%;
    margin-left: 0%;
}
.vitro {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.w-100 {
    max-height: 189px;
}
.mapa-section {
    padding-top: 8rem;
}
.map {
    border-radius: 1rem;
    box-shadow: 5px 0 10px rgba(60, 60, 60, 0.922);
}
#title-map {
    text-align: center;
    color: rgb(218, 218, 218);
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.btn-location-map {
    color: rgb(218, 218, 218);
    font-size: 1.2rem;
}
/*------------------SERVICIOS---------------*/
.intro-servicios {
    padding-top: $padding-top-page;

    & h3 {
        font-size: 1.3rem;
    }
    & h4 {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }  
}
.box-unit-s {
    margin: 1rem;
    background-color:#ddddddd1;
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1rem;
}
.box-title-servicios {
    color: #253759;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.boxes {
    padding-top: 2rem;
}

/*------------------CONTACTO-----------------*/
.box-formulario {
    background-color: $color-empresa;
    box-shadow: 10px 10px 10px black; 
    padding: 2rem;
    border-radius: 0.5rem;
}
#intro-forms {
    padding-top: $padding-top-page;

    & h3 {
        font-size: 1.3rem;
    }
    & h4 {
        font-size: 1.1rem;
        line-height: 2.3rem;
    } 
}
.form-style {
    line-height: 1.7rem;

    & div {
        padding-top: 1.5rem;
    }
}
.btn-primary {
    background-color: black; 
    border-color: $color-empresa;
    &:hover {
        background-color: rgb(83, 83, 83); 
        border-color: rgb(83, 83, 83);
    }
}
.margin-top {
    margin-top: 2rem;
}
.contacto {
    padding-bottom: 2rem;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.685);
    color: #000000;
}
.custom-select {
    background: rgba(255, 255, 255, 0.685);
    color: #6a6a6a;
}
.formulario {
    font-weight: 400;
}
/*-----------------NOSOTROS-----------------*/
.intro-nosotros {
    padding-top: $padding-top-page;

    & h3 {
        font-size: 1.3rem;
    }
    & h4 {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }
}
@mixin box-unit-n-example ($background-color, $color) {
    background-color: $background-color;
    color: $color;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}
.box-unit-n {
    @include box-unit-n-example (#ddddddd1, #000000);
    & p {
        color:#242424;
    }
    & h5 {
        color: $color-empresa;
        font-weight: bold;
    }
} 
.box-unit-n-b {
    @extend .box-unit-n;
    background-color: #d0d0d0b9;
}
/*------------------GARANTIA-----------------*/
.intro-garantia {
    padding-top: $padding-top-page; 

    & h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    & h4 {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }
}
.p-garantia {
    padding-top: 1rem;
    padding-bottom: 2rem;

    & p {
        color: #25345b;
        font-size: 1rem;
    }
}
.ul-garantia {
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: rgb(22, 22, 22);
    text-align: justify;
}
.sub-title {
    color: #25345b;
}
/*--------------------FOOTER------------------*/
.footer-top-white {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
    color: #000000;
    width: 100%;
    background-color: $background-white;
}   
.footer-bottom-white {
    color: rgb(16, 16, 16);
    font-size: 0.6rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(36, 36, 36, 0.722);
    width: 100%;
}
.footer-top-black {
    @extend .footer-top-white;
    color: #cacaca;
    background-color: $background-black;
}  
.footer-bottom-black {
    @extend .footer-bottom-white;
    color: rgb(167, 167, 167);
    background-color: #0000008a;
}
.footer-top-index {
    @extend .footer-top-black;
    background-color: transparent;
}
.red-social {
    padding-top: 1rem;
}
$redes: (
    facebook: #3b5998,
    instagram:#e03ed0
);
@each $red_social, $color in $redes {
    .btn--#{$red_social} {
        color: $color;
        font-size: 1.5rem;
        &:hover {
            color: #25345b;
        }

    }
}
ul.list-inline {
    margin-bottom: 0%;
}
/*------------------(Media Query)------------------*/
$padding-top-page-579: 6rem;
@media screen and (max-width: 579px) {
    
    /*--------------------(MENU)-------------------*/
    .logo {
        height: 2rem;
    }
    .menu-icon {
        width: 1.6rem;
    }
    .navbar {
        padding: 0.7rem 0.4rem;
    }
    
    /*--------------------(FOOTER)----------------*/  
    .footer-top-white,.footer-top-black {
        font-size: 0.7rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    } 
    .footer-bottom-white, .footer-bottom-black {
        font-size: 0.5rem;
    }
    /*--------------------(INDEX)------------------*/
    .title {
        font-size: 1.4rem;
    }
    .top-section {
        padding-top: $padding-top-page-579 + 1;
        padding-bottom: 3rem;
    }
    #call {
        text-align: center; 
    }
    #p-number {
        font-size: 0.9rem;
        padding-top: 4rem;
    }
    .btn-phone {
        font-size: 0.9rem;
        padding-right: 0.6rem;
    }
    #number {
        font-size: 0.9rem;
    }
    #box-number {
        border-radius: 0.5rem;
        padding: 0.3rem 0.6rem;
    }
    .btn-location {
        font-size: 1rem;
    }
    .location {
        padding-top: 4rem;
    }
    #title-location {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .intro {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.9rem;
    }
    #final-index {
        padding-top: 2rem;
    }
                    /*-----Boxes marcas----*/
    .marcas {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .box-marcas {
        margin: 0.2rem;
        padding: 0.1rem 0.5rem;
    }
    #title-marcas {
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    .logo-marca {
        width: 100%;
        align-items: center;
    }
                        /*-----Boxes electrodomésticos----*/
    #title-up-boxes {
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #000000;
    }
    .box-unit-i {
        margin: 0.4rem;
    }
    .box-title-index {
        padding-bottom: 0.2rem;
        font-size: 0.8rem;
    }
    .electro {
        margin-top: 0.7rem;
        height: 3.5rem;
    }
    #fan-coil {
        padding-top: 1.7rem;
        width: 4.5rem;
    }
    #cocina-indus {
        width: 4rem;
    }
    #lavav {
        margin-top: 1rem;
        height: 3rem;
    }
    #horno {
        height: 3rem;
    }
    #frigo {
        height: 4rem;
    }
    #nevera {
        height: 4rem;
    }
    .final-index-mb {
        display: block;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color:#ddddddd1;
    }
    .final-index-mb-title {
        padding-top: 1rem;
        background-color:#ddddddd1;
        width: 100%;
        color: #000000;
    }
    .boxes-index {
        display: none;
    }
    .mapa-section {
        padding-bottom: 2rem;
        padding-top: 4rem;
    }
    .btn-location-map {
        font-size: 0.8rem;
    }
    #title-map {
        font-size: 0.8rem;
        padding-bottom: 0.6rem;
    }
    /*------------------(SERVICIOS)---------------*/
    .intro-servicios {
        padding-top: $padding-top-page-579;

        & h3 {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }
        & h4 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .box-unit-s {
        margin: 0.5rem;
    }
    .box-title-servicios {
        padding-bottom: 0.2rem;
        font-size: 0.9rem;
        
        & p {
            font-size: 0.9rem;
        }
    }
    
    /*------------------(CONTACTO)----------------*/
    .box-formulario {
        font-size: 0.9rem;
    }
    #intro-forms {
        padding-top: $padding-top-page-579;

        & h3 {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }
        & h4 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .form-style {
        line-height: 1.5rem;

        & div {
            padding-top: 1rem;
        }
    }
    .formulario {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .custom-select {
        font-size: 0.9rem;
    }
    /*-----------------(NOSOTROS)-----------------*/
    .intro-nosotros {
        padding-top: $padding-top-page-579;

        & h3 {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }
        & h4 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .boxes-nosotros {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .box-unit-n {
        margin: 0.5rem;

        & p {
            font-size: 0.9rem;
        }
        & h5 {
            font-size: 1rem;
        }
    }
    
    /*------------------(GARANTIA)----------------*/
    .intro-garantia {
        padding-top: $padding-top-page-579; 

        & h3 {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }
        & h4 {
            font-size: 1rem;
            line-height: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    .ul-garantia {
        padding-top: 0.5rem;
        font-size: 0.9rem;
    }
    .p-garantia {
        & p {
        font-size: 0.9rem;
        }
    }
    .sub-title {
        font-size: 0.9rem;
    }
 }